.left-form{
    -fx-background-color: linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}
.right-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    /*-fx-border-width: 4px 4px 4px 0px;*/
}

#user_icon {
    -fx-fill: black;
    -fx-background-color: transparent;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #c65050;
}

.textfield{
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
    -fx-border-color: #007;
    -fx-border-width: .4px;
    -fx-border-radius: 4px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
}
.textfield:focused{
    /*-fx-background-color: linear-gradient(to bottom right, #96afa6, #6d5d5e);*/
    -fx-border-width: 1.4px;
    -fx-border-color: white;
}
.login-btn{
    -fx-background-color: linear-gradient(to bottom , #4f8c7d, #33504c);
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}
.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #54ae96, #55867e);
}